.logo {
  margin-top: 64px;
  margin-left: 165px;
  margin-bottom: 132px;
  max-width: 135px;
  grid-area: logo;
  min-height: 33px;
}

@media screen and (max-width:1100px) {
  .logo {
    max-width: 100px;
    min-height: 20.89px;
    margin-top: 31px;
    margin-left: 8.52%;
    margin-bottom: 32px;
    order: -1;
  }
}