.text__subtitle {
  font-size: 16px;
  color: #ce9898;
  letter-spacing: 0px;
  line-height: 28px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 40px;
}

@media screen and (max-width: 1100px) {
  .text__subtitle {
    font-size: 14px;
    color: #ce9898;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
